.signup-form {
  height: fit-content;
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signup-form * {
  font-size: 14px;
}

.signup-form .input-group {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
}

.signup-form a {
  text-decoration: none;
  color: #2864ff;
}
