.nav {
  margin: var(--marginHorizontalCenter);
  padding-top: 20px;
}

.nav * {
  font-size: 16px;
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.nav-container * {
  color: white;
}

.nav-container > * {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
}

.textButton-group {
  flex-grow: 1;
  justify-content: space-around;
}

.textButton-group .textButton {
  padding-block: 10px;
}

.textButton-group .textButton:hover {
  border-bottom: 1px solid white;
  text-shadow: var(--dropShadow);
}

.authButton-group {
  align-self: center;
  flex-grow: 0.2;
  justify-content: flex-end;
}

.textButton-outside-group {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--borderRadius);
  height: 250px;
  display: none;
  flex-direction: column;
}

.textButton-outside-group .textButton {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.5);
}

.textButton-outside-group .textButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  border-radius: var(--borderRadius);
}

/* For Desktop (shrink header) */
@media only screen and (max-width: 992px) {
  .nav {
    width: 91.66%;
  }
}

/* For Tablet */
@media only screen and (max-width: 768px) {
  .nav {
    width: 83.33%;
  }

  .nav-container {
    position: relative;
  }

  .textButton-group {
    display: none;
  }
  .textButton-outside-group {
    display: flex;
  }
}
