.forgotPassword-form {
  height: fit-content;
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.forgotPassword-form * {
  font-size: 14px;
}

.forgotPassword-form span {
  margin-block: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #757575;
}
