.camp-row-card-list-group {
  border-radius: var(--borderRadius);
  height: 90vh;
  padding-right: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 992px) {
  .camp-row-card-list-group {
    width: 92%;
  }
}
