.button {
  cursor: pointer;
  height: 50px;
  max-height: 100%;
  width: 100%;

  margin-block: 10px;

  color: white;
  border: none;
  border-radius: var(--borderRadius);
  background-color: #43aeea;
}

.button:hover {
  background-color: #2e749c;
  box-shadow: var(--dropShadow);
}

.button-auth-login {
  background-color: #08a521;
}

.button-auth-signup {
  background-color: #d4283b;
}
button[class*="button-auth"] {
  margin-inline: 5px;
  height: 40px;
}

button[class*="button-auth"]:hover {
  background-color: #2e2275;
}
