.review-card-group {
  display: grid;
  grid-template-rows: auto auto auto auto auto;

  width: 100%;
  max-width: 782px;
  background-color: white;
  border-radius: var(--borderRadius);
  padding-inline: 20px;
  padding-block: 10px;

  box-shadow: var(--dropShadow);
}

.review-card-group:hover {
  background-color: #dadada;
}

.review-card-group > .province {
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #888eaa;
}

.review-card-group > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  border-bottom: 1px solid #7c7c7c;
}

.review-card-group > .title > .camp-name {
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #0076c5;
  text-transform: capitalize;
}

.review-card-group > .title > .date {
  font-size: 12px;
  color: #888eaa;
}

.review-card-group > .content {
  position: relative;
  margin-block: 10px;
}

.review-card-group > .summarize {
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

.review-card-group > .content > .star-rating-group {
  position: absolute;
  left: 0;
  top: -5%;
}

.review-card-group > .content > .review {
  font-size: 14px;
  text-align: start;

  text-indent: 100px;

  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media only screen and (max-width: 576px) {
  .review-card-group > .province {
    font-size: 12px;
  }
  .review-card-group > .title > .camp-name {
    font-size: 14px;
  }
  .review-card-group > .title > .date {
    font-size: 10px;
  }
  .review-card-group > .summarize {
    font-size: 12px;
  }
  .review-card-group > .content > .review {
    font-size: 12px;
  }
  .review-card-group > .content > .star-rating-group {
    top: -10%;
  }
}
