@import "./textButton";
@import "./logo";

.nav {
  margin-inline: auto;
  padding-top: 20px;

  .nav-container {
    @include flex-space-between-stretch;
    height: 70px;

    > * {
      @include flex-start-center;
    }

    .text-button-group {
      flex-grow: 1;
      justify-content: space-around;
    }

    .auth-button-group {
      align-self: center;
      flex-grow: 0.2;
      justify-content: flex-end;

      .profile-dropdown-group {
        z-index: 2;
        .profile-dropdown-content {
          .profile-name {
            background-color: rgb(118, 134, 97);
            padding-left: 10px;
            padding-block: 3px;
            color: #fff;
            font-weight: bold;
            text-align: left;

            cursor: default;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .modal-change-password,
        .modal-confirm-logout {
          .modal-content {
            max-width: fit-content;
          }
        }
      }
    }
  }

  .text-button-outside-group {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--borderRadius);
    height: 250px;
    display: none;
    flex-direction: column;

    .text-button {
      flex-grow: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      color: rgba(0, 0, 0, 0.5);
    }

    .text-button:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: rgba(255, 255, 255, 1);
      border-radius: var(--borderRadius);
    }
  }

  .modal-login,
  .modal-signup,
  .modal-forgot-password,
  .modal-resend-email {
    .modal-content {
      max-width: fit-content;
    }
  }
}
