@media only screen and (max-width: 992px) {
  //+Header
  .nav {
    width: 91.66%;

    .text-button {
      font-size: 0.85rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  //+Header
  .nav {
    .nav-container {
      position: relative;

      .text-button-group {
        display: none;
      }
    }
    .text-button-outside-group {
      display: flex;
    }
  }
}
