/* For Desktop (shrink header) */
@media only screen and (max-width: 992px) {
  .nav {
    width: 91.66%;
  }
}

/* For Tablet */
@media only screen and (max-width: 768px) {
  .nav {
    width: 83.33%;
  }

  .nav-container {
    position: relative;
  }

  .text-button-group {
    display: none;
  }
  .text-button-outside-group {
    display: flex;
  }
}
