@media only screen and (max-width: 992px) {
  //+Header
  .nav {
    width: 91.66%;
  }
}

@media only screen and (max-width: 768px) {
  //+Header
  .nav {
    width: 83.33%;

    .nav-container {
      position: relative;

      .text-button-group {
        display: none;
      }
    }
    .text-button-outside-group {
      display: flex;
    }
  }
}
