.find-a-camp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  margin-inline: auto;
  margin-bottom: 100px;
  row-gap: 20px;
  column-gap: 10px;
}

.find-a-camp > .search-filter {
  margin-top: 20px;
  margin-inline: auto;

  background-color: white;
  border-radius: var(--borderRadius);

  grid-area: 1 / 1 / span 1 / span 2;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-inline: 10px;
}

.find-a-camp > .search-filter > .button {
  height: 40px;
}

.find-a-camp > .result {
  grid-area: 2 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.find-a-camp > .result > .result-filter-group {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.find-a-camp > .result > .result-filter-group > .title {
  background-color: #d25c5c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding-block: 5px;
}

.find-a-camp > .result > .result-filter-group > .select-box-group {
  border-radius: 0;
  margin-block: 0px;
}

.find-a-camp > .map {
  background-color: white;
  padding: 10px;
  border-radius: var(--borderRadius);
  box-shadow: var(--dropShadow);
  display: flex;
  align-items: center;

  grid-area: 2 / 2 / span 1 / span 1;
  min-width: 400px;
}

@media only screen and (max-width: 992px) {
  .find-a-camp {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .find-a-camp > .search-filter {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  .find-a-camp > .result {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  .find-a-camp > .map {
    height: 50vh;
    min-width: 200px;
    grid-area: 3 / 1 / span 1 / span 1;
  }
}
