.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-family: arial, Helvetica, sans-serif;

  width: fit-content;
  padding: 20px;
  margin-top: 20px;
  margin-inline: auto;
  @include border-radius-box-shadow;
  .item-1 {
    font-size: clamp(3rem, 0.3158rem + 13.4211vw, 9.375rem);

    font-weight: bold;
  }
  .item-2 {
    font-size: clamp(1.5rem, 0.8684rem + 3.1579vw, 3rem);
  }
  .item-3 {
    font-size: clamp(0.75rem, 0.5395rem + 1.0526vw, 1.25rem);
  }
  .btn {
    max-width: 200px;
  }
}
