* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.image-background {
  position: fixed;
  top: 0%;
  left: 0%;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

[class*=header-background] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  height: 90px;
  width: 100%;
}

figure {
  margin-inline: 0px;
}

.btn {
  cursor: pointer;
  height: 50px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #43aeea;
}

.btn:hover {
  background-color: #2e749c;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-auth-login {
  background-color: #08a521;
}

.btn-auth-signup {
  background-color: #d4283b;
}

[class*=btn-auth] {
  margin-inline: 5px;
  height: 40px;
}

[class*=btn-auth]:hover {
  background-color: #2e2275;
}

[class*=btn-contact-phone] {
  background-color: #d3a874;
}

[class*=btn-contact-phone]:hover {
  background-color: #a78459;
}

[class*=btn-contact-facebook] {
  background-color: #1d9bf0;
}

[class*=btn-contact-facebook]:hover {
  background-color: #1774b3;
}

[class*=btn-contact-line] {
  background-color: #27bd63;
}

[class*=btn-contact-line]:hover {
  background-color: #1b8144;
}

[class*=btn-contact-website] {
  background-color: #ff543e;
}

[class*=btn-contact-website]:hover {
  background-color: #a53628;
}

[class*=btn-cancel] {
  background-color: #aaa;
}

[class*=btn-cancel]:hover {
  background-color: #777;
}

[class*=btn-disabled] {
  background-color: #aaa;
}

[class*=btn-disabled]:hover {
  background-color: #aaa;
  box-shadow: none;
}

[class*=btn-disabled]:disabled {
  cursor: not-allowed;
}

[class*=btn-follow] {
  min-width: 65px;
  font-size: 0.625rem;
  font-weight: bold;
  color: black;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid black;
  width: 65px;
  height: 25px;
}

[class*=btn-follow]:hover {
  background-color: black;
  color: #fff;
}

[class*=btn-following] {
  min-width: 65px;
  font-size: 0.625rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-radius: 15px;
  border: 1px solid black;
  width: 65px;
  height: 25px;
}

.card-group {
  margin-inline: auto;
}

.card-group .card-header {
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: white;
  font-size: 1.2rem;
  background-color: #757575;
  height: 50px;
}

.card-group .card-body {
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.card-group-top-camp .card-header {
  background-color: #cf6e2a;
}

.card-group-more-post .card-header {
  background-color: #41b0c1;
}

.card-group-recent-review .card-header {
  background-color: #74855e;
}

.carousel-group {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-block: 20px;
  width: 100%;
  margin-inline: auto;
  max-width: 968px;
  height: 544px;
  position: relative;
}
.carousel-group .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: fade;
  animation-duration: 0.5s;
}
.carousel-group .dot-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}
.carousel-group .dot-group .icon {
  font-size: 0.7rem;
  color: #bbb;
  transition: color 0.6s ease;
  cursor: pointer;
}
.carousel-group .dot-group .icon:hover,
.carousel-group .dot-group .active {
  color: #717171;
}
.carousel-group .prev-next-group {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.carousel-group .prev-next-group .icon {
  font-size: 1.5rem;
  padding-inline: 15px;
  padding-block: 30px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.carousel-group .prev-next-group .icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.check-box-group {
  display: flex;
  justify-content: start;
  align-items: center;
}
.check-box-group .input {
  width: 20px;
  height: 20px;
}
.check-box-group .label {
  margin-left: 5px;
  font-size: clamp(0.6rem, 1vw, 0.8rem);
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  padding-block: 5px;
}
.checkbox-list .title {
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: bold;
  color: #747474;
}
.checkbox-list .label .star-rating-group {
  margin-left: 5px;
}

.confirm-dialog {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
  max-width: 300px;
  width: 300px;
}
.confirm-dialog .text {
  font-size: 0.75rem;
  text-align: center;
}
.confirm-dialog .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.follower-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.follower-list .profile-title-group {
  height: 46px;
}

.icon-text-group {
  display: flex;
}
.icon-text-group .icon {
  margin-right: 5px;
}
.icon-text-group .text {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: clamp(0.625rem, 1vw, 0.75rem);
}

.icon-text-group[class*=location] * {
  color: #ee4d2d;
}

.icon-text-group[class*=like] * {
  color: #ff0000;
}

.icon-text-group[class*=view-all-post] * {
  color: #43aeea;
}

.icon-text-group[class*=view-all-post] .icon {
  order: 1;
  margin-inline: 5px 0px;
}

.icon-text-group[class*=facility] i {
  color: #3589b9;
  width: 30px;
  text-align: center;
}

.icon-text-info-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.icon-text-info-group .icon-group {
  margin-right: 10px;
}
.icon-text-info-group .icon-group .image {
  width: 25px;
  height: 25px;
}
.icon-text-info-group .info-group {
  display: flex;
  flex-direction: column;
}
.icon-text-info-group .info-group .title {
  font-size: 0.75rem;
  font-weight: bold;
  color: #008890;
}
.icon-text-info-group .info-group .sub-title1 {
  font-size: 0.625rem;
  font-weight: bold;
  color: #546364;
}
.icon-text-info-group .info-group .sub-title2 {
  font-size: 0.625rem;
  color: #546364;
}

.information-card-group {
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-block: 15px;
  padding-inline: 10px;
}
.information-card-group .header {
  padding-block: 10px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.input-text-group {
  width: 100%;
}
.input-text-group .input-text, .input-text-group .input-text-icon-group .input-text-icon, .input-text-icon-group .input-text-group .input-text-icon {
  width: 100%;
  margin-block: 5px;
  height: 50px;
  padding-inline: 20px;
  border: none;
  border-radius: 5px;
  background-color: #afafaf;
  color: white;
  outline: none;
  font-size: 1rem;
}
.input-text-group .input-text::placeholder, .input-text-group .input-text-icon-group .input-text-icon::placeholder, .input-text-icon-group .input-text-group .input-text-icon::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}
.input-text-group .input-text:focus, .input-text-group .input-text-icon-group .input-text-icon:focus, .input-text-icon-group .input-text-group .input-text-icon:focus {
  background-color: #a6c8db;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.input-text-group [class*=input-error] {
  border: 2px solid red;
}
.input-text-group .small-text-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-size: 0.5rem;
}
.input-text-group .small-text-group .text-error {
  color: red;
}
.input-text-group .small-text-group .text-count {
  color: #bbb;
}

.input-text-icon-group {
  position: relative;
  width: 100%;
}
.input-text-icon-group .input-text-icon {
  margin-block: 0;
  padding-left: 35px;
  background-color: #5d8f6e;
}
.input-text-icon-group .input-text-icon:focus {
  background-color: #3e614a;
}
.input-text-icon-group i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  font-size: 1.2rem;
  color: white;
}

.loading-group {
  display: block;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.loading-group .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  height: 100%;
  width: 100%;
}

.modal-group {
  position: fixed;
  z-index: 1;
  padding-block: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-group .modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
  max-width: 83.33%;
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: white;
  top: 50%;
  transform: translate(0%, -50%);
  animation-name: animatetop;
  animation-duration: 0.3s;
}
.modal-group .modal-content .modal-header {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-group .modal-content .modal-body {
  overflow-y: auto;
}
.modal-group .modal-content .fa-xmark {
  margin: 20px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
.navbar-tab-menu .list-group {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #c7c7c7;
  list-style-type: none;
}
.navbar-tab-menu .list-group li.list-item {
  padding: 10px;
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: relative;
}
.navbar-tab-menu .list-group li.list-item ul.list-dropdown-group {
  background-color: #fff;
  position: absolute;
  top: 110%;
  right: 30%;
  border-radius: 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 5px;
}
.navbar-tab-menu .list-group li.list-item ul.list-dropdown-group li.dropdown-item {
  display: block;
  padding: 10px;
}
.navbar-tab-menu .list-group li.list-item ul.list-dropdown-group li.dropdown-item:hover {
  border-radius: 2px;
  background-color: #ccc;
}
.navbar-tab-menu .list-group li.list-item ul.list-dropdown-group li[class*=active] {
  border-radius: 3px;
  background-color: #2e749c;
  color: white;
}
.navbar-tab-menu .list-group li[class*=active] {
  background-color: #2e749c;
  color: white;
  border-radius: 3px 3px 0px 0px;
}
.navbar-tab-menu [class*=list-group-mobile] {
  display: none;
}

.option-dropdown {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  padding-left: 20px;
  padding-block: 10px;
}

.option-dropdown:hover {
  background-color: rgb(138, 151, 100);
}

.price-tag {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: red;
  color: white;
  gap: 10px;
  padding-inline: 10px;
  padding-block: 5px;
  margin-block: 10px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.price-tag .baht {
  font-size: 0.9rem;
}
.price-tag .price {
  font-size: 1.2rem;
}

.profile-dropdown-group {
  z-index: 1;
  position: relative;
}
.profile-dropdown-group .profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.profile-dropdown-group ul.profile-dropdown-content {
  position: absolute;
  top: 100%;
  right: 0%;
  padding: 10px;
  margin: 0%;
  list-style-type: none;
  flex-direction: column;
  width: 220px;
  border-radius: 5px;
  background-color: rgb(84, 92, 62);
}

.profile-title-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.profile-title-group .image-info {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 150px;
}
.profile-title-group .image-info .image {
  display: flex;
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-title-group .image-info .profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  overflow: hidden;
}
.profile-title-group .image-info .profile-info .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: capitalize;
}
.profile-title-group .image-info .profile-info .follower {
  font-size: 0.6rem;
  color: #757575;
  font-weight: bold;
}
.profile-title-group .image-info .profile-info .since {
  font-size: 0.6rem;
  color: #757575;
  font-weight: bold;
}
.profile-title-group .image-info .profile-info .about {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 0.7rem;
  color: #757575;
  letter-spacing: 0.05em;
  max-width: 500px;
}
.profile-title-group .btn-edit-profile {
  align-self: flex-start;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.select-box-group {
  border-radius: 5px;
  height: 50px;
  padding: 10px;
}
.select-box-group .option {
  font-size: 0.75rem;
}

.share-social-group {
  display: flex;
  gap: 5px;
}
.share-social-group i {
  font-size: 24px;
  cursor: pointer;
}

.share-social-group i[class*=facebook],
.share-social-group i[class*=twitter] {
  color: #1d9bf0;
}
.share-social-group i[class*=instagram] {
  color: #ff543e;
}
.share-social-group i[class*=line] {
  color: #27bd63;
}

.sidebar-follower-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-follower-group .sidebar-title {
  font-weight: bold;
  letter-spacing: 0.05em;
  white-space: nowrap;
  font-size: 0.875rem;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 15px;
}
.sidebar-follower-group .profile-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-follower-group .suggestions {
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.75rem;
  color: #0092e4;
}

.star-rating-group i {
  color: #fd3b00;
}

.star-rating-form {
  color: #fd3b00;
  cursor: pointer;
}

.textarea-group {
  width: 100%;
  margin-block: 5px;
}
.textarea-group .textarea {
  width: 100%;
  height: 100%;
  padding-block: 10px;
  padding-inline: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  overflow-y: auto;
  background-color: #d0b9a0;
  resize: none;
}
.textarea-group .textarea:focus {
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.textarea-group .textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
}
.textarea-group .small-text-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-size: 0.5rem;
}
.textarea-group .small-text-group .text-error {
  color: red;
}
.textarea-group .small-text-group .text-count {
  color: #bbb;
}

@media only screen and (max-width: 576px) {
  .carousel-group {
    height: 400px;
  }
  .carousel-group .dot-group {
    gap: 3px;
  }
  .check-box-group .label .star-rating-group i {
    font-size: 0.8rem;
  }
  .modal-group {
    padding-top: 50px;
  }
  .modal-group .modal-header {
    font-size: 1.2rem;
  }
  .modal-group .modal-content {
    padding: 10px;
  }
  .navbar-tab-menu .list-group {
    display: none;
  }
  .navbar-tab-menu [class*=list-group-mobile] {
    display: flex;
  }
  .icon-text-info-group .icon-group .image {
    width: 25 px;
    height: 25px;
  }
  .icon-text-info-group .info-group .title {
    font-size: 0.75rem;
  }
  .icon-text-info-group .info-group .sub-title1,
  .icon-text-info-group .info-group .sub-title2 {
    font-size: 0.65rem;
  }
}
@media only screen and (max-width: 768px) {
  .card-group .card-header {
    font-size: 16px;
  }
  .card-group .card-group .card-body {
    padding: 5px;
  }
}
.container {
  padding-block: 50px;
}

.text-button {
  padding-block: 10px;
  color: white;
}

.text-button:hover {
  border-bottom: 1px solid white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 50px;
}

.nav {
  margin: 0 auto;
  padding-top: 20px;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.nav .nav-container > * {
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav .nav-container .text-button-group {
  flex-grow: 1;
  justify-content: space-around;
}
.nav .nav-container .auth-button-group {
  align-self: center;
  flex-grow: 0.2;
  justify-content: flex-end;
}
.nav .nav-container .auth-button-group .profile-dropdown-group .profile-dropdown-content .profile-name {
  background-color: sandybrown;
  padding-left: 10px;
  padding-block: 3px;
  color: #285ed1;
  font-weight: bold;
  text-align: left;
}
.nav .text-button-outside-group {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--borderRadius);
  height: 250px;
  display: none;
  flex-direction: column;
}
.nav .text-button-outside-group .text-button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}
.nav .text-button-outside-group .text-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: var(--borderRadius);
}

@media only screen and (max-width: 992px) {
  .nav {
    width: 91.66%;
  }
  .nav .text-button {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav .nav-container {
    position: relative;
  }
  .nav .nav-container .text-button-group {
    display: none;
  }
  .nav .text-button-outside-group {
    display: flex;
  }
}
[class*=auth-form] {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  width: 400px;
  max-width: 100%;
}
[class*=auth-form] .button-group {
  display: flex;
  flex-direction: row;
}
[class*=auth-form] button {
  margin-inline: 5px;
}
[class*=auth-form] a {
  color: #2864ff;
  text-align: center;
}

.forgot-password-auth-form .title {
  text-align: center;
  margin-block: 10px;
  font-weight: bold;
  color: #757575;
}

.verify-auth-form {
  align-items: center;
  font-size: 14px;
  text-align: center;
}
.verify-auth-form .email {
  color: #2864ff;
}
.verify-auth-form [class*=icon] {
  font-size: 64px;
  color: green;
}

.verify-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  width: fit-content;
  gap: 20px;
  margin-inline: auto;
  margin-top: 50px;
}
.verify-confirm [class*=icon] {
  font-size: 64px;
  color: green;
}

.reset-password-auth-form {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-inline: auto;
  padding: 20px;
  border: 1px solid black;
}
.reset-password-auth-form .title,
.reset-password-auth-form .sub-title {
  text-align: center;
}

.all-blog-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}
.all-blog-container .header-background-all-blog {
  background-color: #8db3c3;
}
.all-blog-container .header-group {
  grid-area: 1/1/span 1/span 2;
  position: relative;
}
.all-blog-container .header-group .navbar-tab-menu {
  align-self: flex-end;
}
.all-blog-container .header-group .btn {
  position: absolute;
  top: -15%;
  right: 0%;
  height: 40px;
  width: 100px;
}
.all-blog-container .blog-list-group {
  padding-left: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-blog-container .sidebar-follower {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.blog-card-a-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  column-gap: 20px;
}
.blog-card-a-group .date {
  grid-area: 1/1/span 1/span 1;
  font-size: clamp(10px, 1vw, 12px);
}
.blog-card-a-group .image-group {
  grid-area: 1/2/span 2/span 1;
  width: 300px;
}
.blog-card-a-group .image-group .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-card-a-group .content-footer {
  display: flex;
  flex-direction: column;
  grid-area: 2/1/span 1/span 1;
  align-items: flex-start;
  min-width: 200px;
}
.blog-card-a-group .content-footer > .title {
  font-weight: bold;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: clamp(16px, 1.8vw, 20px);
  margin-bottom: 10px;
}
.blog-card-a-group .content-footer .content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: clamp(12px, 1.2vw, 14px);
}
.blog-card-a-group .content-footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid #7c7c7c;
  margin-top: 10px;
  padding-top: 10px;
}

.blog-card-b-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #eee;
  padding: 10px;
}
.blog-card-b-group .profile-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-card-b-group .profile-date .date {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 0.625rem;
}
.blog-card-b-group .content-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.blog-card-b-group .content-group .image-group {
  width: 200px;
  min-width: 200px;
  max-height: 150px;
}
.blog-card-b-group .content-group .image-group .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-card-b-group .content-group .info-group {
  order: -1;
}
.blog-card-b-group .content-group .info-group .title {
  font-weight: bold;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: clamp(16px, 1.8vw, 20px);
}
.blog-card-b-group .content-group .info-group .content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-align: justify;
  font-size: clamp(12px, 1.2vw, 14px);
}
.blog-card-b-group .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-card-b-group .footer .like-comment {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.blog-comment-card-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 15px;
  border-bottom: 1px solid #757575;
}
.blog-comment-card-group .header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-inline: 5px;
  position: relative;
}
.blog-comment-card-group .header-group .profile-title-group {
  overflow: hidden;
}
.blog-comment-card-group .header-group .btn {
  width: 50px;
  height: 25px;
  background-color: #0d6efd;
}
.blog-comment-card-group .header-group .comment-edit-dropdown-content {
  position: absolute;
  top: 100%;
  right: 0%;
  padding-block: 5px;
  padding-inline: 10px;
  margin: 0%;
  list-style-type: none;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ddd;
}
.blog-comment-card-group .header-group .comment-edit-dropdown-content .option-dropdown {
  color: #555;
  font-size: 0.75rem;
  padding: 5px;
}
.blog-comment-card-group .header-group .comment-edit-dropdown-content .option-dropdown:hover {
  background-color: #8dc4f0;
}
.blog-comment-card-group .comment {
  font-size: 0.75rem;
}
.blog-comment-card-group .comment-input-form {
  flex-direction: column;
}
.blog-comment-card-group .comment-input-form .textarea-count {
  color: #bbb;
  font-size: 0.625rem;
  font-style: italic;
  text-align: right;
}
.blog-comment-card-group .comment-input-form textarea {
  font-size: 0.75rem;
  resize: none;
  width: 100%;
  overflow-y: auto;
}
.blog-comment-card-group .comment-input-form .small-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-comment-card-group .comment-input-form .small-group small {
  font-size: 0.625rem;
  font-style: italic;
}
.blog-comment-card-group .comment-input-form .small-group small span {
  color: #0d6efd;
  cursor: pointer;
}
.blog-comment-card-group .icon-text-group {
  align-self: flex-start;
}

.blog-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  column-gap: 20px;
  margin-inline: auto;
}
.blog-container .header-background-blog-container {
  background-color: #8db3c3;
}
.blog-container .draft-editor-group {
  grid-area: 1/1/span 1/span 2;
}
.blog-container .main-group {
  grid-area: 1/1/span 1/span 1;
}
.blog-container .main-group .header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-container .main-group .header-group .profile-title-group {
  max-width: 50%;
  overflow: hidden;
}
.blog-container .main-group .header-group .action-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.blog-container .main-group .header-group .action-group .outdent {
  display: none;
}
.blog-container .main-group .blog-content-group {
  margin-inline: auto;
  max-width: 680px;
  margin-top: 50px;
}
.blog-container .main-group .blog-content-group .title {
  text-align: center;
  font-style: italic;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.blog-container .main-group .blog-content-group .content img {
  width: 100%;
}
.blog-container .main-group .blog-content-group .foot-action {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.blog-container > .modal-group {
  padding: 0px;
}
.blog-container > .modal-group > .modal-content {
  animation-name: animateright;
  padding: 15px;
  border-radius: 0;
  float: right;
  height: 100vh;
}
.blog-container > .modal-group > .modal-content > .modal-header {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.1rem;
  text-align: left;
}
.blog-container > .modal-group > .modal-content > .modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blog-container > .modal-comment > .modal-content {
  width: 83.66%;
  max-width: 480px;
}
.blog-container > .modal-comment > .modal-content > .modal-body .comment-form {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 10px;
  margin-top: 20px;
  height: 300px;
}
.blog-container > .modal-comment > .modal-content > .modal-body .comment-form > .textarea {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #eee;
  height: 100%;
  resize: none;
  padding: 10px;
  font-size: 0.75rem;
}
.blog-container > .modal-comment > .modal-content > .modal-body .comment-form .small-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-container > .modal-comment > .modal-content > .modal-body .comment-form .small-text .textarea-count {
  font-style: italic;
  color: #bbb;
}
.blog-container > .modal-comment > .modal-content > .modal-body .select-box-group {
  margin-block: 10px;
}
.blog-container > .modal-comment > .modal-content > .modal-body .blog-comment-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.blog-container .modal-sidebar .modal-content .modal-body {
  overflow-y: hidden;
}
.blog-container .modal-sidebar .modal-content .modal-body .sidebar-blog-group {
  height: 100%;
  border-left: none;
  padding-left: 0px;
}
.blog-container .modal-sidebar .modal-content .modal-body .sidebar-blog-group .blog-more-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.blog-container .modal-sidebar .modal-content .modal-body .sidebar-blog-group .blog-more-group > .title {
  margin-block: 0px;
  padding-block: 15px;
}
.blog-container .modal-sidebar .modal-content .modal-body .sidebar-blog-group .blog-more-group .blog-list {
  overflow-y: auto;
}
.blog-container .modal-sidebar .modal-content .modal-body .sidebar-blog-group .blog-more-group .blog-list .blog-recent-group .image-group {
  width: 100%;
  min-width: 0px;
}
.blog-container .modal-sidebar .modal-content .modal-body .sidebar-blog-group .blog-more-group .blog-list .blog-recent-group .info {
  width: 120%;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.blog-edit-dropdown-group {
  z-index: 1;
  position: relative;
}
.blog-edit-dropdown-group .blog-edit-dropdown-content {
  position: absolute;
  top: 140%;
  right: 0%;
  padding-block: 5px;
  padding-inline: 10px;
  margin: 0%;
  list-style-type: none;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ddd;
}
.blog-edit-dropdown-group .blog-edit-dropdown-content .option-dropdown {
  color: #555;
  font-size: 0.75rem;
  padding: 5px;
}
.blog-edit-dropdown-group .blog-edit-dropdown-content .option-dropdown:hover {
  background-color: #8dc4f0;
}
.blog-edit-dropdown-group .blog-edit-dropdown-content [class*=option-dropdown-share] {
  display: none;
}
.blog-edit-dropdown-group .blog-edit-dropdown-content .modal-share .share-social-group {
  margin: 10px;
}

.blog-recent-group {
  display: flex;
  justify-content: start;
  align-items: center;
}
.blog-recent-group .image-group {
  height: 115px;
  min-width: 50%;
}
.blog-recent-group .image-group .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.blog-recent-group .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.blog-recent-group .info .title {
  font-weight: bold;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: clamp(12px, 1vw, 14px);
}
.blog-recent-group .info .date {
  font-size: clamp(10px, 1vw, 12px);
  color: #878686;
  font-style: italic;
}

.blog-recent-group:hover {
  background-color: #dadada;
}

.create-blog-container {
  margin-inline: auto;
}
.create-blog-container .header-background-create-blog {
  background-color: #8db3c3;
}

.draft-editor-group {
  max-width: 1080px;
  margin-inline: auto;
}
.draft-editor-group .wrapper {
  padding: 5px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  background-color: #eee;
}
.draft-editor-group .editor {
  background-color: #fff;
  min-height: 50vh;
  padding-inline: 35px;
  max-height: 60vh;
  position: relative;
  z-index: 0;
}
.draft-editor-group .button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.draft-editor-group .button-group .btn {
  width: 100px;
}
.draft-editor-group .title-group .input-text, .draft-editor-group .title-group .input-text-icon-group .input-text-icon, .input-text-icon-group .draft-editor-group .title-group .input-text-icon {
  background-color: #ddd;
  color: #3b5ac2;
  font-size: 1.1rem;
  font-weight: bold;
}
.draft-editor-group .title-group .input-text::placeholder, .draft-editor-group .title-group .input-text-icon-group .input-text-icon::placeholder, .input-text-icon-group .draft-editor-group .title-group .input-text-icon::placeholder {
  color: #aaa;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}
.draft-editor-group .modal-group .modal-content {
  max-width: 1080px;
}
.more-post-group {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.more-post-group .blog-card-a-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 782px;
}
.more-post-group .recent-post-group {
  display: flex;
  flex-direction: column;
  max-width: 432px;
  min-width: 324px;
}
.more-post-group .recent-post-group a[class*=icon] {
  align-self: flex-end;
}
.more-post-group .recent-post-group .blog-recent-list-title {
  align-self: flex-start;
  font-weight: bold;
  color: #1a2f77;
  margin-block: 10px;
}
.more-post-group .recent-post-group .blog-recent-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.sidebar-blog-group {
  grid-area: 1/2/span 1/span 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #a9a9a9;
  padding-left: 15px;
}
.sidebar-blog-group > .profile-title-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 15px;
  border-bottom: 1px solid #c7c7c7;
}
.sidebar-blog-group > .profile-title-group .image-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.sidebar-blog-group > .profile-title-group .image-info .image {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.sidebar-blog-group > .profile-title-group .image-info .profile-info {
  margin-left: 0;
}
.sidebar-blog-group > .profile-title-group .image-info .profile-info .about {
  margin-block: 10px;
  -webkit-line-clamp: 6;
}
.sidebar-blog-group .blog-more-group > .title {
  margin-block: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-blog-group .blog-more-group > .title .name {
  color: #7b7b7b;
}
.sidebar-blog-group .blog-more-group .blog-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.camp-column-card-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  background-color: white;
  gap: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.camp-column-card-group .camp-image {
  cursor: pointer;
  max-width: 100%;
  width: 220px;
  height: 200px;
  object-fit: cover;
}
.camp-column-card-group .camp-name {
  font-size: clamp(0.75rem, 1vw, 0.85rem);
  font-weight: bold;
  color: #3227b0;
}
.camp-column-card-group .camp-review-group {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
}
.camp-column-card-group .camp-review-group .camp-review {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.75rem;
}

.camp-column-card-group:hover {
  background-color: #dadada;
}

.camp-column-card-list-group {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.camp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: auto;
}
.camp-container .header-background-camp {
  background-color: #414378;
}
.camp-container .location-share {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 5px;
  align-items: center;
}
.camp-container .camp-name {
  font-weight: bold;
  font-size: 1.8rem;
  color: #4a65f3;
}
.camp-container .information-group {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 15px;
}
.camp-container .information-group .group-1,
.camp-container .information-group .group-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.camp-container .information-group .group-1 .content {
  padding-inline: 30px;
}
.camp-container .information-group .group-1 .overview .content {
  font-size: 0.75rem;
}
.camp-container .information-group .group-1 .general-information .content,
.camp-container .information-group .group-1 .service .content,
.camp-container .information-group .group-1 .activity .content,
.camp-container .information-group .group-1 .rule .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 10px;
  padding-block: 10px;
}
.camp-container .information-group .group-2 .content {
  display: flex;
  flex-direction: column;
}
.camp-container .information-group .group-2 .map .content {
  gap: 10px;
  height: 400px;
}
.camp-container .information-group .group-2 .contact .content {
  gap: 10px;
}
.camp-container .review-group {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 20px;
  gap: 10px;
}
.camp-container .review-group .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.camp-container .review-group .header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.camp-container .review-group .header .btn {
  width: fit-content;
}
.camp-container .review-group .select-box-group {
  width: 250px;
}
.camp-container .review-group .review-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.camp-review-card-group {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 25px;
  background-color: #f8f8f8;
}
.camp-review-card-group .info-group {
  margin-top: 20px;
}
.camp-review-card-group .info-group .summarize {
  color: #4a65f3;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
}
.camp-review-card-group .info-group .date {
  color: #756e6e;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.camp-review-card-group .info-group .overview-rating {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.camp-review-card-group .info-group .overview-rating .title {
  color: #cd5353;
  font-size: 0.75rem;
  font-weight: bold;
}
.camp-review-card-group .info-group .review .title {
  font-size: 0.75rem;
  font-weight: bold;
}
.camp-review-card-group .info-group .review .content {
  font-size: 0.75rem;
}

.camp-row-card-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  max-width: 768px;
  background-color: white;
  padding: 10px;
  column-gap: 10px;
  border-radius: 5px;
}
.camp-row-card-group .image-group {
  height: 200px;
  min-width: 200px;
  position: relative;
}
.camp-row-card-group .image-group .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.camp-row-card-group .info-group {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.camp-row-card-group .info-group .camp-name-group {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}
.camp-row-card-group .info-group .camp-name-group .camp-name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 0.75rem;
  font-weight: bold;
  color: #3227b0;
  text-transform: capitalize;
}
.camp-row-card-group .info-group .camp-name-group [class*=btn] {
  width: 25px;
  height: 25px;
  background-color: #ddd;
}
.camp-row-card-group .info-group .camp-name-group [class*=btn] [class*=icon] {
  color: red;
}
.camp-row-card-group .info-group .camp-name-group [class*=btn-active] {
  background-color: red;
}
.camp-row-card-group .info-group .camp-name-group [class*=btn-active] [class*=icon] {
  color: #fff;
}
.camp-row-card-group .info-group .rating-count {
  font-size: 0.75rem;
  color: #fd3b00;
}
.camp-row-card-group .info-group .facility-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-self: stretch;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.camp-row-card-list-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 90vh;
  padding-right: 10px;
  overflow-y: auto;
}

/* width */
.camp-row-card-list-group::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.camp-row-card-list-group::-webkit-scrollbar-track {
  background: #e4e4e4;
}

/* Handle */
.camp-row-card-list-group::-webkit-scrollbar-thumb {
  background: #eb4351;
  border-radius: 10%;
}

/* Handle on hover */
.camp-row-card-list-group::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.recent-review-card-group {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  row-gap: 10px;
  max-width: 782px;
  background-color: white;
  padding: 20px;
}
.recent-review-card-group .province {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.75rem, 1vw, 0.85rem);
  text-transform: capitalize;
  color: #888eaa;
}
.recent-review-card-group > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #7c7c7c;
}
.recent-review-card-group > .title .camp-name {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: #0076c5;
  text-transform: capitalize;
}
.recent-review-card-group > .title .date {
  font-size: clamp(0.65rem, 1vw, 0.75rem);
  color: #888eaa;
}
.recent-review-card-group .summarize {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: clamp(0.85rem, 1vw, 0.9rem);
}
.recent-review-card-group .content {
  position: relative;
}
.recent-review-card-group .content .star-rating-group {
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
}
.recent-review-card-group .content .review {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  line-height: 150%;
  text-indent: 100px;
}

.review-card-group:hover {
  background-color: #dadada;
}

.recent-review-card-list-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-random-camp-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
  margin: 100px auto;
}
.search-random-camp-group .random-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-random-camp-group .random-group .text {
  font-size: 14px;
  font-style: italic;
  color: #615a5a;
}
.search-random-camp-group .random-group .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.search-random-camp-group .random-group .icon:hover {
  background-color: #bebebe;
}
.search-random-camp-group .random-group .icon i {
  color: #615a5a;
}
.search-random-camp-group .random-group .icon i:hover {
  color: white;
}

.write-a-review-form {
  width: 500px;
  max-width: 100%;
}
.write-a-review-form .input-text, .write-a-review-form .input-text-icon-group .input-text-icon, .input-text-icon-group .write-a-review-form .input-text-icon {
  background-color: #d0b9a0;
}
.write-a-review-form [class*=review-input] {
  height: 300px;
}
.write-a-review-form .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.write-a-review-form .button-group [class*=btn-submit] {
  background-color: #235659;
  width: 100px;
}
.write-a-review-form .button-group [class*=btn-cancel] {
  background-color: #5e6b73;
  width: 100px;
}

.profile-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto;
  column-gap: 10px;
  margin-inline: auto;
}
.profile-container .header-background-profile-container {
  background-color: #8f7464;
}
.profile-container .header-group {
  grid-area: 1/1/span 1/span 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}
.profile-container .header-group .cover-image-group {
  height: 196px;
}
.profile-container .header-group .cover-image-group .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-container .header-group .profile-name-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 10px;
}
.profile-container .header-group .profile-name-group .profile-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.profile-container .header-group .profile-name-group .outdent {
  display: none;
}
.profile-container .header-group .no-blog-list {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
}
.profile-container .blog-list-group {
  grid-area: 2/1/span 1/span 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-container .sidebar-profile-group {
  grid-area: 1/2/span 2/span 1;
}
.profile-container .modal-sidebar {
  padding: 0px;
}
.profile-container .modal-sidebar .modal-content {
  max-width: 420px;
  width: 83.66%;
  animation-name: animateright;
  padding: 15px;
  border-radius: 0;
  float: right;
  height: 100vh;
}
.profile-container .modal-sidebar .modal-content .modal-body .sidebar-profile-group {
  border-left: none;
}
.profile-container .modal-following {
  z-index: 2;
}
.profile-container .not-found-page {
  grid-area: 1/1/span 1/span 2;
}

.sidebar-profile-group {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-left: 1px solid #a9a9a9;
  padding-left: 15px;
}
.sidebar-profile-group > .profile-title-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.sidebar-profile-group > .profile-title-group .image-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.sidebar-profile-group > .profile-title-group .image-info .image {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.sidebar-profile-group > .profile-title-group .image-info .profile-info {
  margin-left: 0;
}
.sidebar-profile-group > .profile-title-group .image-info .profile-info .about {
  margin-block: 10px;
  -webkit-line-clamp: 6;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 484px;
  max-width: 100%;
}
.edit-profile-form .title {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.25rem;
}
.edit-profile-form .profile-image-group {
  align-self: center;
  width: 150px;
  height: 150px;
  position: relative;
}
.edit-profile-form .profile-image-group .profile-image {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.edit-profile-form .profile-image-group .icon-text-group {
  background-color: #3a3b3c;
  position: absolute;
  bottom: 10px;
  right: 0px;
  padding: 9px;
  border-radius: 50%;
}
.edit-profile-form .profile-image-group .icon-text-group .icon {
  margin: 0px;
  color: #fff;
}
.edit-profile-form .cover-image-group {
  position: relative;
}
.edit-profile-form .cover-image-group .cover-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.edit-profile-form .cover-image-group .icon-text-group {
  background-color: #3a3b3c;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 10%;
}
.edit-profile-form .cover-image-group .icon-text-group .icon {
  margin: 0px;
  color: #fff;
}
.edit-profile-form .form-group {
  display: flex;
  flex-direction: column;
}
.edit-profile-form .form-group [class*=-input-group] {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.edit-profile-form .form-group .input-label {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  color: #757575;
  align-self: center;
  width: 100px;
}
.edit-profile-form .form-group [class*=name-input-group] .input-text-group .input-text, .edit-profile-form .form-group [class*=name-input-group] .input-text-group .input-text-icon-group .input-text-icon, .input-text-icon-group .edit-profile-form .form-group [class*=name-input-group] .input-text-group .input-text-icon {
  font-size: 0.875rem;
  background-color: #d0b9a0;
  height: 35px;
}
.edit-profile-form .form-group .about-input-group .textarea-group {
  height: 120px;
}
.edit-profile-form .form-group .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.edit-profile-form .form-group .button-group .btn {
  width: 100px;
}

.find-a-camp-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin-inline: auto;
  row-gap: 10px;
  column-gap: 10px;
}
.find-a-camp-container .search-filter-group {
  margin-inline: auto;
  background-color: white;
  border-radius: 5px;
  grid-area: 1/1/span 1/span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
}
.find-a-camp-container .search-filter-group .clear-filter {
  font-size: 0.625rem;
  text-decoration: underline;
  color: rgb(132, 136, 132);
}
.find-a-camp-container .result-group {
  display: flex;
  flex-direction: column;
  grid-area: 2/1/span 1/span 1;
  gap: 5px;
}
.find-a-camp-container .result-group .sort-group {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.find-a-camp-container .result-group .sort-group .title {
  font-weight: bold;
  letter-spacing: 0.05em;
  background-color: #d25c5c;
  color: white;
  padding-block: 5px;
  text-align: center;
}
.find-a-camp-container .result-group .sort-group .select-box-group {
  border-radius: 0;
  height: 40px;
}
.find-a-camp-container .map {
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 10px;
  grid-area: 2/2/span 1/span 1;
  min-width: 300px;
}

.filter-camp-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 5px;
}
.filter-camp-group .header {
  font-weight: bold;
  letter-spacing: 0.05em;
  grid-area: 1/1/span 1/span 3;
  font-size: 1.1rem;
  text-align: start;
}

.search-camp-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 100%;
  column-gap: 10px;
}
.search-camp-group .header {
  font-weight: bold;
  letter-spacing: 0.05em;
  grid-area: 1/1/span 1/span 2;
  font-size: 1.1rem;
}
.search-camp-group .destination,
.search-camp-group .province {
  display: flex;
  flex-direction: column;
}
.search-camp-group .title {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-inline: auto;
}

@media only screen and (max-width: 576px) {
  .blog-card-a-group {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .blog-card-a-group .image-group {
    grid-area: 2/1/span 1/span 1;
    margin-block: 10px;
    width: 100%;
  }
  .blog-card-a-group .content-footer {
    grid-area: 3/1/span 1/span 1;
  }
  .blog-card-b-group .content-group {
    flex-direction: column-reverse;
  }
  .blog-card-b-group .content-group .image-group {
    max-height: none;
    width: auto;
  }
  .blog-card-b-group .content-group .image-group .image {
    max-height: 200px;
  }
  .blog-container .main-group .header-group .action-group > .share-social-group {
    display: none;
  }
  .blog-container .main-group .header-group .action-group .blog-edit-dropdown-group .blog-edit-dropdown-content .option-dropdown-share {
    display: flex;
  }
  .filter-camp-group .header {
    grid-area: 1/1/span 1/span 2;
  }
  .filter-camp-group [class*=facilities] {
    grid-area: 2/2/span 2/span 1;
  }
  .search-camp-group {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .search-camp-group .header {
    grid-area: 1/1/span 1/span 1;
  }
  .camp-column-card-group .camp-image {
    height: 150px;
  }
  .camp-row-card-group {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 10px;
  }
  .camp-row-card-group > .info-group > .facility-group {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  [class*=auth-form] {
    font-size: 0.85rem;
  }
  .search-random-camp-group .random-group .text {
    color: white;
  }
  .camp-container .title-share {
    flex-direction: column;
    gap: 20px;
  }
  .camp-container .title-share .title {
    order: 1;
  }
  .camp-container .information-group {
    flex-direction: column;
  }
  .camp-container .information-group .group-1,
  .camp-container .information-group .group-2 {
    width: 100%;
  }
  .camp-container .camp-name {
    font-size: 1.3rem;
  }
  .camp-container .information-group .group-1 .content {
    padding-inline: 10px;
  }
  .camp-container .information-group .group-1 .overview .content {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 992px) {
  .blog-container {
    display: block;
  }
  .blog-container .main-group .header-group .action-group .outdent {
    display: block;
  }
  .blog-container > .sidebar-blog-group {
    display: none;
  }
  .blog-container .modal-sidebar .modal-content {
    width: 480px;
  }
  .camp-row-card-list-group {
    width: 95%;
  }
  .more-post-group {
    flex-direction: column;
  }
  .more-post-group .recent-post-group {
    max-width: 100%;
    min-width: 0;
  }
  .find-a-camp-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .find-a-camp-container .search-filter-group {
    grid-area: 1/1/span 1/span 1;
  }
  .find-a-camp-container .result-group {
    grid-area: 2/1/span 1/span 1;
  }
  .find-a-camp-container .map {
    height: 50vh;
    min-width: 200px;
    grid-area: 3/1/span 1/span 1;
  }
  .camp-container {
    width: 91.66%;
  }
  .camp-container .information-group {
    flex-direction: column;
  }
  .camp-container .information-group .group-1,
  .camp-container .information-group .group-2 {
    width: 100%;
  }
  .all-blog-container {
    display: block;
  }
  .all-blog-container .blog-list-group {
    padding-left: 0px;
  }
  .all-blog-container .sidebar-follower {
    display: none;
  }
  .profile-container {
    display: block;
  }
  .profile-container .header-group .profile-name-group .outdent {
    display: block;
  }
  .profile-container > .sidebar-profile-group {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .blog-container .modal-sidebar {
    display: none;
  }
  .profile-container .modal-sidebar {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .camp-column-card-list-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .all-blog-container {
    width: 91.66%;
  }
}
.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-family: arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 20px;
  margin-top: 20px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.not-found-page .item-1 {
  font-size: clamp(3rem, 0.3158rem + 13.4211vw, 9.375rem);
  font-weight: bold;
}
.not-found-page .item-2 {
  font-size: clamp(1.5rem, 0.8684rem + 3.1579vw, 3rem);
}
.not-found-page .item-3 {
  font-size: clamp(0.75rem, 0.5395rem + 1.0526vw, 1.25rem);
}
.not-found-page .btn {
  max-width: 200px;
}

/*# sourceMappingURL=main.css.map */
