.input-text-icon-group {
  position: relative;
  width: 100%;
}

.input-text-icon-group .inputText {
  width: 100%;
  height: 50px;
  background-color: #5d8f6e;
  color: white;
  padding-left: 35px;
  border: none;
  border-radius: var(--borderRadius);
  outline: none;
}

.input-text-icon-group .inputText::placeholder {
  color: white;
  font-size: 14px;
}

.input-text-icon-group .inputText:focus {
  background-color: #3e614a;
  box-shadow: var(--dropShadow);
}

.input-text-icon-group > i {
  font-size: 18px;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 10px;
}
