.camp-row-card-group {
  @include grid-auto(1fr 2fr, auto);

  max-width: 768px;

  background-color: white;
  padding: 10px;
  column-gap: 10px;
  border-radius: $borderRadius;

  .image-group {
    height: 200px;

    min-width: 200px;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-group {
    margin-block: auto;
    @include flex-column;
    gap: 5px;

    .camp-name {
      @include ellipsis-multiline(2);
      font-size: 0.75rem;
      font-weight: bold;
      color: #3227b0;
      text-transform: capitalize;
    }

    .facility-group {
      @include grid-auto(1fr 1fr, auto auto);
      padding: 10px;

      border-radius: $borderRadius;
      border: 1px solid black;
    }
  }
}
