.camp-container {
  @include flex-column;

  align-items: flex-start;
  margin-inline: auto;

  .header-background-camp {
    background-color: #414378;
  }

  .location-share {
    @include flex-space-between-stretch;
    width: 100%;
    margin-block: 5px;
    align-items: center;
  }

  .camp-name {
    font-weight: bold;
    font-size: 1.8rem;
    color: #4a65f3;
  }

  .information-group {
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 15px;

    .group-1,
    .group-2 {
      @include flex-column;
      gap: 15px;
    }

    .group-1 {
      .content {
        padding-inline: 30px;
      }

      .overview .content {
        font-size: 0.75rem;
      }

      .general-information,
      .service,
      .activity,
      .rule {
        .content {
          @include grid-auto(1fr 1fr, auto);
          column-gap: 20px;
          row-gap: 10px;
          padding-block: 10px;
        }
      }
    }

    .group-2 {
      .content {
        @include flex-column;
      }
      .map .content {
        gap: 10px;
        height: 400px;
      }

      .contact .content {
        gap: 10px;
      }
    }
  }

  .review-group {
    @include flex-column;
    @include border-radius-box-shadow;
    width: 100%;
    padding: 20px;
    gap: 10px;

    .header {
      @include flex-space-between-center;
      padding-bottom: 10px;
      border-bottom: 1px solid black;

      .title {
        font-size: 1.25rem;
        font-weight: bold;
      }
      .btn {
        width: fit-content;
      }
    }
    .select-box-group {
      width: 250px;
    }

    .review-list {
      @include flex-column;
      gap: 10px;
    }
  }
}
