.camp-row-card-group {
  @include grid-auto(1fr 2fr, auto);

  max-width: 768px;

  background-color: white;
  padding: 10px;
  column-gap: 10px;
  border-radius: $borderRadius;

  .image-group {
    height: 200px;

    min-width: 200px;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-group {
    margin-block: auto;
    @include flex-column;
    align-items: flex-start;
    gap: 5px;

    .camp-name-group {
      align-self: stretch;
      @include flex-space-between-stretch;

      .camp-name {
        @include ellipsis-multiline(2);
        font-size: 0.75rem;
        font-weight: bold;
        color: #3227b0;
        text-transform: capitalize;
      }

      [class*="btn"] {
        width: 25px;
        height: 25px;
        background-color: #ddd;

        [class*="icon"] {
          color: red;
        }
      }

      [class*="btn-active"] {
        background-color: red;

        [class*="icon"] {
          color: #fff;
        }
      }
    }

    .rating-count {
      font-size: 0.75rem;
      color: #fd3b00;
    }

    .icon-text-group {
      cursor: default;
    }

    .facility-group {
      @include grid-auto(1fr 1fr, auto auto);
      align-self: stretch;
      padding: 10px;

      border-radius: $borderRadius;
      border: 1px solid black;
    }
  }
}
