.recent-review-card-group {
  @include flex-column;
  @include border-radius-box-shadow($borderRadius);
  gap: 5px;

  max-width: 782px;
  background-color: white;
  padding: 20px;

  .province {
    @include font-bold-space(0.05em);
    font-size: clamp(0.75rem, 1vw, 0.85rem);
    text-transform: capitalize;
    color: #888eaa;
  }

  > .title {
    @include flex-space-between-center;

    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7c7c7c;

    .camp-name {
      @include font-bold-space(0.05em);
      @include ellipsis-multiline(2);

      font-size: clamp(0.85rem, 1vw, 1rem);
      color: #0076c5;
      text-transform: capitalize;
    }

    .date {
      min-width: fit-content;
      font-size: clamp(0.65rem, 1vw, 0.75rem);
      color: #888eaa;
    }
  }

  .summarize {
    @include font-bold-space(0.05em);
    font-size: clamp(0.85rem, 1vw, 0.9rem);
    word-wrap: break-word;
  }

  .star-rating-group {
    display: flex;
  }

  .review {
    @include ellipsis-multiline(8);
    font-size: clamp(0.75rem, 1vw, 0.9rem);
    word-wrap: break-word;
  }
}

.recent-review-card-group:hover {
  background-color: #dadada;
}
