.search-random-camp-group {
  @include flex-column;
  gap: 10px;
  max-width: 300px;
  width: 100%;
  margin-inline: auto;
  margin-top: 100px;

  .random-group {
    @include flex-center-center;
    gap: 10px;

    .text {
      font-size: 14px;
      font-style: italic;
      color: #615a5a;
    }

    .icon {
      @include flex-center-center;
      background-color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .icon:hover {
      background-color: #bebebe;

      i {
        color: #fff;
      }
    }
  }
  .btn {
    align-self: center;
    background-color: #5a51d4;
    width: 75px;
    height: 30px;
  }
}
