.write-a-review-form {
  .input-group {
    @include flex-column;
    gap: 10px;

    .input-text-group {
      .input-text {
        background-color: #d0b9a0;
      }
    }

    .textarea-group {
      height: 300px;

      .textarea {
        flex-grow: 1;
      }
    }
  }

  .button-group {
    @include flex-center-center;
    gap: 20px;
    margin-top: 20px;

    [class*="btn-submit"] {
      background-color: #235659;
      width: 100px;
    }
    [class*="btn-cancel"] {
      background-color: #5e6b73;
      width: 100px;
    }
  }
}
