.edit-profile-form {
  height: 100%;
  @include flex-column;

  gap: 5px;

  .title {
    @include font-bold-space(0.05em);
    font-size: 0.875rem;
    color: #757575;
  }

  .profile-image-group {
    align-self: center;
    position: relative;

    .profile-image {
      @include image-profile(150px);
      box-shadow: $dropShadow;
    }

    .icon-text-group {
      background-color: #3a3b3c;
      position: absolute;
      bottom: 10px;
      right: 0px;
      padding: 9px;
      border-radius: 50%;

      .icon {
        margin: 0px;
        color: #fff;
      }
    }
  }

  .cover-image-group {
    position: relative;

    .cover-image {
      height: 100px;
      width: 100%;
      object-fit: cover;
      box-shadow: $dropShadow;
    }

    .icon-text-group {
      background-color: #3a3b3c;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      border-radius: 10%;
      .icon {
        margin: 0px;
        color: #fff;
      }
    }
  }
  .form-group {
    @include flex-column;
    gap: 5px;
    flex-grow: 1;

    [class*="-input-group"] {
      @include flex-column;
    }

    .input-label {
      @include font-bold-space(0.05em);
      font-size: 0.875rem;
      color: #757575;
    }

    [class*="name-input-group"] {
      .input-text-group {
        .input-text {
          font-size: 0.875rem;
          background-color: #d0b9a0;
          height: 35px;
        }

        .small-text-group {
          .text-count,
          .text-error {
            font-size: 0.675rem;
          }
        }
      }
    }

    .about-input-group {
      flex-grow: 1;
      .textarea-group {
        flex-grow: 1;
        .textarea {
          flex-grow: 1;
        }
        .small-text-group {
          .text-count {
            font-size: 0.675rem;
          }
        }
      }
    }

    .button-group {
      @include flex-row;
      justify-content: space-evenly;

      margin-top: 20px;

      .btn {
        width: 100px;
      }
    }
  }
}
