.sidebar-profile-group {
  @include flex-column;
  gap: 30px;

  border-left: 1px solid #a9a9a9;
  padding-left: 15px;

  > .profile-title-group {
    @include flex-column;
    align-items: flex-start;
    gap: 0px;

    .image-info {
      @include flex-column;
      align-items: flex-start;
      gap: 10px;

      .image {
        display: block;
        width: 72px;
      }

      .profile-info {
        margin-left: 0;

        .about {
          margin-block: 10px;
          -webkit-line-clamp: inherit;
        }
      }
    }
  }
}
