.all-blog-container {
  @include grid-auto(75% 25%, auto auto);

  margin-inline: auto;

  .header-background-all-blog {
    background-color: #8db3c3;
  }

  .header-group {
    grid-area: 1 / 1 / span 1 / span 2;
    position: relative;

    .btn {
      position: absolute;
      top: -10%;
      right: 0%;

      height: 40px;
      width: 100px;
    }
  }

  .blog-list-group {
    grid-area: 2 / 1 / span 1 / span 1;

    padding-left: 30px;
    padding-top: 20px;
    @include flex-column;
    gap: 20px;
  }

  .sidebar-follower {
    grid-area: 2 / 2 / span 1 / span 1;

    @include flex-column;
    gap: 20px;

    padding: 20px;
  }
}
