.blog-comment-card-group {
  @include flex-column;
  gap: 10px;
  padding-block: 15px;
  border-bottom: 1px solid #757575;
  position: relative;

  .header-group {
    @include flex-space-between-center;
    gap: 20px;
    margin-inline: 5px;

    position: relative;

    .horizontal-profile-title-group {
      overflow: hidden;
    }

    .btn {
      width: 50px;
      height: 25px;
      background-color: #0d6efd;
    }

    .comment-edit-dropdown-content {
      position: absolute;
      top: 100%;
      right: 0%;
      padding-block: 5px;
      padding-inline: 10px;
      margin: 0%;
      list-style-type: none;

      flex-direction: column;
      border-radius: $borderRadius;
      background-color: #ddd;

      .option-dropdown {
        color: #555;
        font-size: 0.75rem;
        padding: 5px;
      }

      .option-dropdown:hover {
        background-color: #8dc4f0;
      }
    }
  }

  .comment-text {
    font-size: 0.75rem;
  }

  .comment-input-form {
    flex-direction: column;
    gap: 5px;

    .textarea-group {
      .textarea {
        border: none;
        background-color: #999;
        overflow-y: auto;
      }

      .small-text-group {
        .text-count {
          font-size: 0.625rem;
        }

        .text-error {
          font-size: 0.625rem;
        }
      }
    }

    textarea {
      border: 1px solid rgb(50, 50, 50);
      font-size: 0.75rem;
      resize: none;
      width: 100%;
      overflow-y: auto;
    }

    .small-group {
      @include flex-space-between-center;

      small {
        font-size: 0.625rem;
        font-style: italic;
        span {
          color: #0d6efd;
          cursor: pointer;
        }
      }
    }
  }

  .icon-text-group {
    align-self: flex-start;
  }

  .delete-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    position: absolute;
    right: 0%;
    bottom: 7px;

    .btn {
      width: 50px;
      height: 25px;
    }
  }
}
