.blog-container {
  @include grid-auto(4fr 1fr, auto);
  column-gap: 20px;
  margin-inline: auto;

  .header-background-blog-container {
    background-color: #8db3c3;
  }

  .draft-editor-group {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .main-group {
    grid-area: 1 / 1 / span 1 / span 1;

    .header-group {
      @include flex-space-between-center;

      .action-group {
        @include flex-space-between-center;
        gap: 20px;

        .outdent {
          display: none;
        }
      }
    }

    .blog-content-group {
      margin-inline: auto;
      max-width: 680px;

      margin-top: 50px;

      .title {
        text-align: center;
        font-style: italic;

        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .content {
        img {
          width: 100%;
        }
      }

      .foot-action {
        margin-top: 30px;
        @include flex-row;
        gap: 20px;
      }
    }
  }

  > .modal-group {
    padding: 0px;

    > .modal-content {
      animation-name: animateright;
      padding: 15px;
      border-radius: 0;
      float: right;
      height: 100vh;

      > .modal-header {
        @include font-bold-space(0.05em);

        font-size: 1.1rem;
        text-align: left;
      }

      > .modal-body {
        @include flex-column;
        height: 100%;
      }
    }
  }

  > .modal-comment {
    > .modal-content {
      width: 83.66%;
      max-width: 480px;

      > .modal-body {
        .comment-form {
          @include flex-column;
          flex-shrink: 0;
          gap: 10px;
          margin-top: 20px;
          height: 300px;

          > .textarea {
            @include border-radius-box-shadow();
            background-color: #eee;

            height: 100%;

            resize: none;
            padding: 10px;
            font-size: 0.75rem;
          }

          .small-text {
            @include flex-space-between-center;
            .textarea-count {
              font-style: italic;
              color: #bbb;
            }
          }
        }

        .select-box-group {
          margin-block: 10px;
        }

        .blog-comment-list {
          @include flex-column;
          overflow-y: auto;
        }
      }
    }
  }

  .modal-sidebar {
    .modal-content {
      .modal-body {
        overflow-y: hidden;

        .sidebar-blog-group {
          height: 100%;

          border-left: none;
          padding-left: 0px;

          .blog-more-group {
            height: 100%;
            overflow: hidden;

            .blog-list {
              height: 100%;
              overflow-y: auto;
              .blog-recent-group {
                .image-group {
                  width: 100%;
                  min-width: 0px;
                }
                .info {
                  width: 120%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
