.blog-card-a-group {
  @include grid-auto(auto auto, auto auto);
  background-color: white;
  box-shadow: $dropShadow;
  padding: 20px;
  column-gap: 20px;
}

.blog-card-a-group .date {
  grid-area: 1 / 1 / span 1 / span 1;
  font-size: clamp(10px, 1vw, 12px);
}

.blog-card-a-group .image-group {
  grid-area: 1 / 2 / span 2 / span 1;
  background-color: lightblue;
  width: 300px;
}

.blog-card-a-group .image-group .image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.blog-card-a-group .content-footer {
  @include flex-column;
  grid-area: 2 / 1 / span 1 / span 1;
  align-items: flex-start;
  min-width: 200px;
}

.blog-card-a-group .content-footer > .title {
  @include font-bold-space(0.05em);
  @include ellipsis-multiline(3);
  font-size: clamp(16px, 1.8vw, 20px);
  margin-bottom: 10px;
}

.blog-card-a-group .content-footer .content {
  @include ellipsis-multiline(8);
  font-size: clamp(12px, 1.2vw, 14px);
}

.blog-card-a-group .content-footer .footer {
  @include flex-space-between-center;
  align-self: stretch;
}
