.draft-editor-group {
  max-width: 1080px;
  margin-inline: auto;

  .wrapper {
    padding: 5px;
    border: 1px solid #cacaca;
    border-radius: $borderRadius;
    background-color: #eee;
  }
  .editor {
    background-color: #fff;
    min-height: 50vh;
    padding-inline: 35px;
    max-height: 60vh;
    position: relative;
    z-index: 0;
  }

  .button-group {
    @include flex-row;
    justify-content: center;
    gap: 10px;

    margin-top: 10px;
    .btn {
      width: 100px;
    }
  }

  .title-group {
    .input-text {
      background-color: #ddd;
      color: #3b5ac2;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .input-text::placeholder {
      color: #aaa;
      font-size: 1.1rem;
      letter-spacing: 0.05em;
    }
  }

  .content-group {
    @include flex-column;

    .text-error {
      align-self: flex-end;
      font-style: italic;
      color: red;
    }
  }

  .modal-cancel {
    .modal-content {
      max-width: fit-content;
    }
  }
}
