.more-post-group {
  display: flex;
  gap: 20px;

  .blog-card-a-list {
    @include flex-column;
    gap: 20px;
    max-width: 782px;

    .blog-card-a-group {
      flex-basis: 100%;
    }
  }

  .recent-post-group {
    @include flex-column;
    max-width: 432px;
    min-width: 324px;

    a[class*="icon"] {
      align-self: flex-end;
    }

    .blog-recent-list-title {
      font-weight: bold;
      color: #1a2f77;
      margin-block: 10px;
    }

    .blog-recent-list {
      @include flex-column;

      gap: 10px;
      background-color: white;
      padding: 10px;
    }
  }
}
