.sidebar-blog-group {
  grid-area: 1 / 2 / span 1 / span 1;
  @include flex-column;
  border-left: 1px solid #a9a9a9;
  padding-left: 15px;

  .blog-more-group {
    > .title {
      margin-block: 15px;
      @include font-bold-space(0.05em);

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .name {
        color: #7b7b7b;
      }
    }

    .blog-list {
      @include flex-column;
      gap: 5px;
    }
  }
}
