.find-a-camp-container {
  @include grid-auto(auto 1fr, auto auto);

  margin-inline: auto;
  row-gap: 10px;
  column-gap: 10px;

  .search-filter-group {
    margin-inline: auto;

    background-color: white;
    border-radius: $borderRadius;

    grid-area: 1 / 1 / span 1 / span 2;

    @include flex-column;
    gap: 10px;
    padding: 20px;

    .clear-filter {
      align-self: center;
      font-size: 0.625rem;
      text-decoration: underline;
      color: rgb(132, 136, 132);
    }
  }

  .result-group {
    @include flex-column;
    grid-area: 2 / 1 / span 1 / span 1;
    gap: 5px;

    .sort-group {
      @include flex-column;
      width: 200px;

      .title {
        @include font-bold-space(0.05em);
        background-color: #6447e9;
        color: white;
        padding-block: 5px;
        text-align: center;
      }

      .select-box-group {
        border-radius: 0;
        height: 40px;
      }
    }
  }

  .map {
    @include border-radius-box-shadow;
    background-color: white;
    padding: 10px;
    grid-area: 2 / 2 / span 1 / span 1;
    min-width: 300px;
  }
}
