.find-a-camp-container {
  @include grid-auto(1fr 1fr, auto auto);

  margin-inline: auto;
  row-gap: 20px;
  column-gap: 10px;

  .search-filter-group {
    margin-inline: auto;

    background-color: white;
    border-radius: $borderRadius;

    grid-area: 1 / 1 / span 1 / span 2;

    @include flex-column;
    align-items: center;
    padding: 20px;
  }

  .result-group {
    @include flex-column;
    grid-area: 2 / 1 / span 1 / span 1;
    gap: 10px;

    .filter-group {
      @include flex-column;
      width: 200px;

      .title {
        @include font-bold-space(0.05em);
        background-color: #d25c5c;
        color: white;
        padding-block: 5px;
        text-align: center;
      }

      .select-box-group {
        border-radius: 0;
      }
    }
  }

  .map {
    @include border-radius-box-shadow;
    background-color: white;
    padding: 10px;

    grid-area: 2 / 2 / span 1 / span 1;
    min-width: 400px;
  }
}
