@media only screen and (max-width: 992px) {
  //+FindACamp
  .find-a-camp {
    @include grid-auto(auto, auto auto auto);

    .search-filter-group {
      grid-area: 1 / 1 / span 1 / span 1;
    }

    .result-group {
      grid-area: 2 / 1 / span 1 / span 1;
    }
    .map {
      height: 50vh;
      min-width: 200px;
      grid-area: 3 / 1 / span 1 / span 1;
    }
  }
}
