.camp-row-card-group {
  display: grid;
  grid-template-columns: 1fr 2fr;

  background-color: white;
  padding: 10px;
  column-gap: 10px;
  border-radius: var(--borderRadius);
}

.camp-row-card-group > .camp-image {
  height: 180px;
  min-width: 180px;
  max-width: 240px;
  position: relative;
}

.camp-row-card-group > .camp-image > .price {
  width: 100%;
  position: absolute;
  bottom: 0;

  background-color: #3941b9;
  color: white;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.camp-row-card-group > .camp-image > .price > span:first-child {
  font-size: 12px;
}
.camp-row-card-group > .camp-image > .price > span:last-child {
  font-size: 16px;
}

.camp-row-card-group > .camp-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camp-row-card-group > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.camp-row-card-group > .info > .camp-name {
  font-size: 14px;
  font-weight: bold;
  color: #3227b0;
  text-transform: capitalize;
  text-align: start;
  min-width: 250px;
}

.camp-row-card-group > .info > .facility-group {
  max-width: fit-content;
  width: 100%;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;

  padding-block: 10px;
  padding-inline: 10px;
  border-radius: var(--borderRadius);
  border: 1px solid black;
}

@media only screen and (max-width: 576px) {
  .camp-row-card-group {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .camp-row-card-group > .camp-image {
    max-width: 100%;
  }
  .camp-row-card-group > .info {
    margin-top: 10px;
  }

  .camp-row-card-group > .info > .facility-group {
    align-self: center;
    max-width: 100%;
  }
}
