.check-box-group {
  display: flex;
  align-items: center;
}

.check-box-group > input {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

.check-box-group > .label {
  text-align: start;
  margin-left: 5px;
  font-size: 12px;
}

@media only screen and (max-width: 576px) {
  .check-box-group > .label > .star-rating-group > i {
    font-size: 12px;
  }
}
