.inputText {
  margin-block: 5px;
  max-width: 100%;
  height: 50px;
  background-color: #afafaf;
  color: white;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.inputText::placeholder {
  color: white;
}

.inputText:focus {
  background-color: #a6c8db;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
