@media only screen and (max-width: 576px) {
  //+BlogCardA
  .blog-card-a-group {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

    .image-group {
      grid-area: 2 / 1 / span 1 / span 1;
      margin-block: 10px;
      width: 100%;
    }

    .content-footer {
      grid-area: 3 / 1 / span 1 / span 1;
    }
  }

  //+ BlogCardBGroup
  .blog-card-b-group {
    .content-group {
      flex-direction: column-reverse;

      .image-group {
        max-height: none;
        width: auto;
        .image {
          max-height: 200px;
        }
      }
    }
  }

  //+BlogContainer
  .blog-container {
    .main-group {
      .header-group {
        .action-group {
          > .share-social-group {
            display: none;
          }

          .blog-edit-dropdown-group {
            .blog-edit-dropdown-content {
              .option-dropdown-share {
                display: flex;
              }
            }
          }
        }
      }
    }
  }

  //+FilterCamp
  .filter-camp-group {
    .header {
      grid-area: 1/1 / span 1 / span 2;
    }

    [class*="facilities"] {
      grid-area: 2/2 / span 2 / span 1;
    }
  }

  //+SearchCamp
  .search-camp-group {
    @include grid-auto(auto, auto auto auto);

    .header {
      grid-area: 1 / 1 / span 1 / span 1;
    }
  }

  //+CampColumnCard
  .camp-column-card-group .camp-image {
    height: 150px;
  }
  //+CampRowCard
  .camp-row-card-group {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 10px;

    > .info-group > .facility-group {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  //+AuthFeature
  [class*="auth-form"] {
    font-size: 0.85rem;
  }

  //+SearchRandomCamp
  .search-random-camp-group .random-group .text {
    color: white;
  }

  //+CampContainer
  .camp-container {
    .title-share {
      flex-direction: column;
      gap: 20px;
      .title {
        order: 1;
      }
    }

    .information-group {
      flex-direction: column;

      .group-1,
      .group-2 {
        width: 100%;
      }
    }
  }

  //+CampContainer
  .camp-container {
    .camp-name {
      font-size: 1.3rem;
    }
    .information-group {
      .group-1 {
        .content {
          padding-inline: 10px;
        }

        .overview .content {
          font-size: 0.75rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  //+BlogContainer
  .blog-container {
    display: block;

    .main-group {
      .header-group {
        .action-group {
          .outdent {
            display: block;
          }
        }
      }
    }
    > .sidebar-blog-group {
      display: none;
    }

    .modal-sidebar {
      .modal-content {
        width: 480px;
      }
    }
  }

  //+CampRowCardList
  .camp-row-card-list-group {
    width: 95%;
  }

  //+MorePost
  .more-post-group {
    flex-direction: column;

    .recent-post-group {
      max-width: 100%;
      min-width: 0;
    }
  }
  //+FindACampContainer
  .find-a-camp-container {
    @include grid-auto(auto, auto auto auto);

    .search-filter-group {
      grid-area: 1 / 1 / span 1 / span 1;
    }

    .result-group {
      grid-area: 2 / 1 / span 1 / span 1;
    }
    .map {
      height: 50vh;
      min-width: 200px;
      grid-area: 3 / 1 / span 1 / span 1;
    }
  }

  //+CampContainer
  .camp-container {
    width: 91.66%;
    .information-group {
      flex-direction: column;

      .group-1,
      .group-2 {
        width: 100%;
      }
    }
  }
  //+ AllBLogContainer
  .all-blog-container {
    display: block;

    .blog-list-group {
      padding-left: 0px;
    }

    .sidebar-follower {
      display: none;
    }
  }

  //+ ProfileContainer
  .profile-container {
    display: block;
    .header-group {
      .profile-name-group {
        .outdent {
          display: block;
        }
      }
    }

    > .sidebar-profile-group {
      display: none;
    }
  }
}

@media only screen and (min-width: 992px) {
  //+BlogContainer
  .blog-container {
    .modal-sidebar {
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  //+CampColumnCard
  .camp-column-card-list-group {
    @include grid-auto(auto auto, auto auto);
  }
  //+ AllBLogContainer
  .all-blog-container {
    width: 91.66%;
  }
}
