.check-box-group {
  @include flex-start-center;
}

.check-box-group .input {
  width: 20px;
  height: 20px;
}

.check-box-group .label {
  margin-left: 5px;
  font-size: clamp(0.6rem, 1vw, 0.8rem);
}
