.confirm-dialog {
  @include flex-column;
  margin-top: 10px;
  gap: 20px;
  max-width: 300px;
  width: 300px;

  .text {
    font-size: 0.75rem;
    text-align: center;
  }

  .button-group {
    @include flex-center-center;
    gap: 10px;
  }
}
