.icon-text-info-group {
  @include flex-start-start;

  .icon-group {
    margin-right: 10px;

    .image {
      width: 25px;
      height: 25px;
    }
  }

  .info-group {
    @include flex-column;

    .title {
      font-size: 0.75rem;
      font-weight: bold;
      color: #008890;
    }

    .sub-title1 {
      font-size: 0.625rem;
      font-weight: bold;
      color: #546364;
    }
    .sub-title2 {
      font-size: 0.625rem;
      color: #546364;
    }
  }
}
