.input-text-icon-group {
  position: relative;
  height: 50px;

  .input-text-icon {
    width: 100%;
    height: 100%;
    padding-left: 35px;
    background-color: #5d8f6e;
    color: #fff;
    border: none;
    border-radius: $borderRadius;
  }

  .input-text-icon:focus {
    background-color: #3e614a;
    outline: none;
  }

  .input-text-icon::placeholder {
    color: #eee;
  }

  i {
    @include absolute-vertical-center;
    left: 10px;
    font-size: 1.2rem;
    color: white;
  }
}
