.modal-group {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    @include flex-column;
    @include border-radius-box-shadow;
    width: 83.33%;
    max-width: 800px;
    max-height: 83.33vh;
    margin-inline: auto;
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    padding: 40px;
    background-color: white;

    animation-name: animatetop;
    animation-duration: 0.5s;

    .modal-header {
      color: black;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .modal-body {
      overflow-y: auto;
      height: 100%;
    }

    .fa-xmark {
      margin: 20px;
      color: black;
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
