.profile-dropdown-group {
  z-index: 1;
  position: relative;

  .profile-image {
    width: 50px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
  }

  ul.profile-dropdown-content {
    position: absolute;
    top: 100%;
    right: 0%;
    padding: 10px;
    margin: 0%;
    list-style-type: none;

    flex-direction: column;
    width: 220px;
    border-radius: $borderRadius;
    background-color: rgb(84, 92, 62);
  }
  .option-dropdown {
    @include flex-start-center;
    gap: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-block: 10px;
  }
  .option-dropdown:hover {
    background-color: rgb(138, 151, 100);
  }
}
