.profile-title-group {
  @include flex-start-center;

  .image {
    @include flex-start-center;
    width: 36px;
    border-radius: 50%;
  }

  .profile-info {
    @include flex-column;
    @include flex-start-start;
    margin-left: 10px;

    .title {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    .option {
      font-size: 0.6rem;
      color: #757575;
      font-style: italic;
    }
  }
}
