.horizontal-profile-title-group {
  display: flex;
  align-items: center;

  .image {
    @include image-profile(36px);
  }

  .profile-info {
    @include flex-column;
    margin-left: 10px;

    overflow: hidden;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 0.75rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    .follower {
      font-size: 0.6rem;
      color: #3f5daf;
      font-weight: bold;
    }
    .since {
      font-size: 0.6rem;
      color: #757575;
      font-weight: bold;
    }

    .about {
      @include ellipsis-multiline(2);
      font-size: 0.7rem;
      color: #757575;
      letter-spacing: 0.05em;

      overflow-wrap: break-word;
    }
  }
}

///////////////////////////////////////+Vertical

.vertical-profile-title-group {
  @include flex-column;
  gap: 10px;

  .image {
    @include image-profile(72px);
  }

  .profile-info {
    @include flex-column;

    .title {
      overflow-wrap: break-word;

      font-size: 0.75rem;
      font-weight: bold;
      text-transform: capitalize;
    }

    .follower {
      font-size: 0.6rem;
      color: #3f5daf;
      font-weight: bold;
    }
    .since {
      font-size: 0.6rem;
      color: #757575;
      font-weight: bold;
    }

    .about {
      font-size: 0.7rem;
      color: #757575;

      margin-block: 10px;
      overflow-wrap: break-word;
    }
  }

  .btn-edit-profile {
    align-self: flex-start;
    width: fit-content;
    height: fit-content;
    padding: 10px;
  }
}
