@media only screen and (max-width: 576px) {
  //+Carousel
  .carousel-group {
    height: 400px;

    .dot-group {
      gap: 3px;
    }
  }

  //+CheckboxGroup
  .check-box-group {
    .label .star-rating-group i {
      font-size: 0.8rem;
    }
  }

  //+ Modal
  .modal-group {
    .modal-content {
      padding: 20px;
    }
  }

  //+ NavbarTabs
  .navbar-tab-menu {
    .list-group {
      display: none;
    }

    [class*="list-group-mobile"] {
      display: flex;
    }
  }

  //+IconTextInfo
  .icon-text-info-group {
    .icon-group {
      .image {
        width: 25 px;
        height: 25px;
      }
    }
    .info-group {
      .title {
        font-size: 0.75rem;
      }
      .sub-title1,
      .sub-title2 {
        font-size: 0.65rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .card-group {
    .card-header {
      font-size: 16px;
    }
    .card-group .card-body {
      padding: 5px;
    }
  }
}
