.share-social-group {
  display: flex;
  gap: 5px;

  i {
    font-size: 24px;
    cursor: pointer;
  }
}

.share-social-group {
  i[class*="facebook"],
  i[class*="twitter"] {
    color: #1d9bf0;
  }

  i[class*="instagram"] {
    color: #ff543e;
  }
  i[class*="line"] {
    color: #27bd63;
  }
}
