.textarea-group {
  @include flex-column;
  gap: 10px;

  .textarea {
    padding-block: 10px;
    padding-inline: 20px;
    border: none;
    border-radius: $borderRadius;
    color: #fff;
    overflow-y: auto;

    background-color: #d0b9a0;
    resize: none;
  }

  .textarea:focus {
    outline: none;
    box-shadow: $dropShadow;
  }

  .textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
  }

  textarea[class*="input-error"] {
    border: 2px solid red;
  }

  .small-text-group {
    @include flex-space-between-center;
    font-style: italic;
    .text-error {
      color: red;
    }
    .text-count {
      color: #bbb;
    }
  }
}
