.blog-card-a-group {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  background-color: white;
  box-shadow: var(--dropShadow);

  padding: 20px;
  column-gap: 20px;
}

.blog-card-a-group > .date {
  font-size: clamp(10px, 1vw, 12px);
  text-align: start;
}

.blog-card-a-group > a.image {
  grid-area: 1 / 2 / span 2 / span 1;
}

.blog-card-a-group > a.image > img {
  width: 300px;
  height: 100%;

  object-fit: cover;
}

.blog-card-a-group > .content-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
}

.blog-card-a-group > .content-footer > .title {
  font-size: clamp(16px, 1.8vw, 20px);
  text-align: start;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 10px;

  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.blog-card-a-group > .content-footer > .content {
  font-size: clamp(12px, 1.2vw, 14px);

  text-align: start;
  height: auto;

  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.blog-card-a-group > .content-footer > .footer {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .blog-card-a-group > .content-footer > .title {
    font-size: 16px;
  }
  .blog-card-a-group > a.image > img {
    width: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .blog-card-a-group {
    grid-template-columns: auto;
  }
  .blog-card-a-group > a.image {
    grid-area: 2 / 1 / span 1 / span 1;
    margin-block: 10px;
  }

  .blog-card-a-group > a.image > img {
    width: 100%;
  }
}
