.login-form {
  height: fit-content;
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form * {
  font-size: 14px;
}

.login-form .input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 20px;
}

.login-form a {
  text-decoration: none;
  color: #2864ff;
}
