.blog-card-a-list-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blog-card-a-list-group > .blog-card-group {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
  max-width: 782px;
}

.blog-card-a-list-group > .blog-recent {
  display: flex;
  flex-direction: column;
  max-width: 432px;
  min-width: 324px;
}

.blog-card-a-list-group > .blog-recent > a {
  align-self: flex-end;
}

.blog-recent-list-title {
  padding-left: 10px;
  align-self: flex-start;
  font-size: 16px;
  font-weight: bold;
  color: #1a2f77;
  text-align: start;
  margin-block: 10px;
}

@media only screen and (max-width: 968px) {
  .blog-card-a-list-group {
    flex-direction: column;
  }
  .blog-card-a-list-group > .blog-recent {
    max-width: 100%;
    min-width: 0;
  }
}
