* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.image-background {
  position: fixed;
  top: 0%;
  left: 0%;
  opacity: 0.8;

  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -10;
}

[class*="header-background"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  height: 90px;
  width: 100%;
}
