// Flex
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-start-end {
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
@mixin flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-between-stretch {
  display: flex;
  justify-content: space-between;
}
@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around-stretch {
  display: flex;
  justify-content: space-around;
}

// Grid
@mixin grid-auto($column: auto auto, $row: auto auto) {
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
}

@mixin grid-auto-row-2 {
  display: grid;
  grid-template-rows: auto auto;
}

@mixin grid-auto-column-2 {
  display: grid;
  grid-template-columns: auto auto;
}

// Ellipsis
@mixin ellipsis-multiline($line: 3) {
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// Position
@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Border
@mixin border-radius-top($size: 3px) {
  border-radius: $size $size 0px 0px;
}
@mixin border-radius-bottom($size: $borderRadius) {
  border-radius: 0px 0px $size $size;
}
@mixin border-radius-box-shadow($size: $borderRadius) {
  border-radius: $size;
  box-shadow: $dropShadow;
}

// Font
@mixin font-bold-space($percent: 0.05em) {
  font-weight: bold;
  letter-spacing: $percent;
}
